body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}   
ol,liul{margin:0; padding:0;}
html,body{
    width: 100%;
}
@media screen and (min-width:1200px){
    body{
        overflow:hidden;
    }
}
.red{color:#D9534F;}
.width-8{display:inline-block;width:8px;}
.dn{display: none;}
body, button, input, select,label, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体' ;
}
.t-center{text-align:center;}
.tr{text-align:right;}
/*自制提示框*/
.msg-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .4;
    z-index: 1050;
}
.msg-alert {
    position: absolute;
    top: 45%;
    left: 50%;
    background: #fff;
    border: 1px solid #eee;
    border-top: 3px solid #2d83ea;
    width: 400px;
    transform: translate(-50%,-45%);
    z-index: 1051;
}
.msg-header,.msg-body{
    border-bottom: 1px solid #eee;
    padding: 15px;
}
.msg-content {
    padding: 15px;
}
.msg-dismiss {
    cursor: pointer;
    background: transparent;
    float: right;
    border: 0;
    line-height: 1;
    font-size: 22px;
    color: #aaa;
    margin-top: -2px;
}
.msg-dismiss:hover {
    color: #bc1b1b;
}
.msg-footer {
    padding: 8px;
    text-align: right;
}
.msg-footer .msg-btnOk {
    background-color: #2f83ea;
    border: 1px solid #2f83ea;
    color: #fff;
    padding: 5px 15px;
}
.msg-footer .msg-btnOk:hover {
    background-color:#3f94fc;
}
.msg-title {
    margin: 0;
}
/*自制提示框 end*/
